<!-- TOP Nav Bar -->
<div class="iq-top-navbar mb-">
  <div class="iq-navbar-custom">
    <nav class="navbar navbar-expand-lg navbar-light p-0 ">
      <div class="iq-menu-bt d-flex align-items-center">
        <div class="wrapper-menu">
          <div class="main-circle"><i class="las la-bars"></i></div>
        </div>
        <div class="iq-navbar-logo d-flex justify-content-between">
          <a href="index.html" class="header-logo">
            <img src="./assets/images/logo.png" class="img-fluid rounded-normal" alt="">
            <div class="logo-title">
              <span class="text-primary text-uppercase">img012</span>
            </div>
          </a>
        </div>
      </div>
      <div class="navbar-breadcrumb">
        <h5 class="mb-0" style="color: aqua;">Trang Chủ</h5>
      </div>
      <div class="iq-search-bar">
        <div class="w-100 iq-search-filter">
          <ul class="list-inline p-0 m-0 row justify-content-center search-menu-options">
             <li class="search-menu-opt">
                <div class="iq-dropdown">
                   <div class="form-group mb-0">
                      <select class="form-control form-search-control bg-white border-0" id="exampleFormControlSelect1">
                         <option selected="">NXB</option>
                         <option>A Books</option>
                         
                      </select>
                   </div>
                </div>
             </li>
             <li class="search-menu-opt">
                <div class="iq-dropdown">
                   <div class="form-group mb-0">
                      <select class="form-control form-search-control bg-white border-0" id="exampleFormControlSelect2">
                         <option selected="">Thể loại</option>
                         <option>General</option>
                         
                      </select>
                   </div>
                </div>
             </li>
             <li class="search-menu-opt">
                <div class="iq-dropdown">
                   <div class="form-group mb-0">
                      <select class="form-control form-search-control bg-white border-0" id="exampleFormControlSelect3">
                         <option selected="">Năm</option>
                         <option>2015</option>
                        
                      </select>
                   </div>
                </div>
             </li>
             <li class="search-menu-opt">
                <div class="iq-dropdown">
                   <div class="form-group mb-0">
                      <select class="form-control form-search-control bg-white border-0" id="exampleFormControlSelect4">
                         <option selected="">Tác giả</option>
                         <option>Milesiy Yor</option>
                        
                      </select>
                   </div>
                </div>
             </li>
             <li class="search-menu-opt">
                <div class="iq-search-bar search-book d-flex align-items-center">
                <form class="searchbox" (submit)="onSearch(searchKey.value); $event.preventDefault()"> 
                   <input type="text" class="text search-input" placeholder="Tìm Kiếm..." (keyup.enter)="onSearch(searchKey.value)" #searchKey> 
                </form>
                </div>
             </li>
          </ul>
       </div>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
        <i class="ri-menu-3-line"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto navbar-list">
          <li class="nav-item nav-icon search-content">
            <a href="#" class="search-toggle iq-waves-effect text-gray rounded">
              <i class="ri-search-line"></i>
            </a>
            <form action="#" class="search-box p-0">
              <input type="text" class="text search-input" placeholder="Type here to search...">
              <a class="search-link" href="#"><i class="ri-search-line"></i></a>
            </form>
          </li>
          <li class="nav-item nav-icon">
            <a href="#" class="search-toggle iq-waves-effect text-gray rounded">
              <i class="ri-notification-2-line" style="color: blue;"></i>
              <span class="bg-primary dots"></span>
            </a>
            <div class="iq-sub-dropdown">
              <div class="iq-card shadow-none m-0">
                <div class="iq-card-body p-0">
                  <div class="bg-primary p-3">
                    <h5 class="mb-0 text-white">Thông Báo<small class="badge  badge-light float-right pt-1">4</small>
                    </h5>
                  </div>
                  <a href="#" class="iq-sub-card">
                    <div class="media align-items-center">
                      <div class="">
                        <img class="avatar-40 rounded" src="./assets/images/user/1.jpg" alt="">
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="mb-0 ">Đơn hàng giao thành công</h6>
                        <small class="float-right font-size-12">Just Now</small>
                        <p class="mb-0">95.000đ</p>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="iq-sub-card">
                    <div class="media align-items-center">
                      <div class="">
                        <img class="avatar-40 rounded" src="./assets/images/user/02.jpg" alt="">
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="mb-0 ">Đơn hàng giao thành công</h6>
                        <small class="float-right font-size-12">5 days ago</small>
                        <p class="mb-0">255.000đ</p>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="iq-sub-card">
                    <div class="media align-items-center">
                      <div class="">
                        <img class="avatar-40 rounded" src="./assets/images/user/03.jpg" alt="">
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="mb-0 ">Đơn hàng giao thành công</h6>
                        <small class="float-right font-size-12">2 days ago</small>
                        <p class="mb-0">79.000đ</p>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="iq-sub-card">
                    <div class="media align-items-center">
                      <div class="">
                        <img class="avatar-40 rounded" src="./assets/images/user/04.jpg" alt="">
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="mb-0 ">Đơn hàng #7979 giao không thành công</h6>
                        <small class="float-right font-size-12">3 days ago</small>
                        <p class="mb-0">100.000đ</p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item nav-icon dropdown">
            <a href="#" class="search-toggle iq-waves-effect text-gray rounded">
              <i class="ri-mail-line" style="color: blue;"></i>
              <span class="bg-primary dots"></span>
            </a>
            <div class="iq-sub-dropdown">
              <div class="iq-card shadow-none m-0">
                <div class="iq-card-body p-0 ">
                  <div class="bg-primary p-3">
                    <h5 class="mb-0 text-white">Tin Nhắn<small class="badge  badge-light float-right pt-1">5</small>
                    </h5>
                  </div>
                  <a href="#" class="iq-sub-card">
                    <div class="media align-items-center">
                      <div class="">
                        <img class="avatar-40 rounded" src="./assets/images/user/01.jpg" alt="">
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="mb-0 ">QT Shop</h6>
                        <small class="float-left font-size-12">13 Jun</small>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="iq-sub-card">
                    <div class="media align-items-center">
                      <div class="">
                        <img class="avatar-40 rounded" src="./assets/images/user/02.jpg" alt="">
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="mb-0 ">Tran Thuan Store</h6>
                        <small class="float-left font-size-12">20 Apr</small>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="iq-sub-card">
                    <div class="media align-items-center">
                      <div class="">
                        <img class="avatar-40 rounded" src="./assets/images/user/03.jpg" alt="">
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="mb-0 ">Hoang Vu Book</h6>
                        <small class="float-left font-size-12">30 Jun</small>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="iq-sub-card">
                    <div class="media align-items-center">
                      <div class="">
                        <img class="avatar-40 rounded" src="./assets/images/user/04.jpg" alt="">
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="mb-0 ">Quang Minh Book</h6>
                        <small class="float-left font-size-12">12 Sep</small>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="iq-sub-card">
                    <div class="media align-items-center">
                      <div class="">
                        <img class="avatar-40 rounded" src="./assets/images/user/05.jpg" alt="">
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="mb-0 ">TV Team</h6>
                        <small class="float-left font-size-12">5 Dec</small>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item nav-icon dropdown">
            <a href="#" class="search-toggle iq-waves-effect text-gray rounded">
              <i class="ri-bank-card-line" style="color: blue;"></i>
              <span class="badge badge-danger count-cart rounded-circle">{{ cartItems.length }}</span>
            </a>
            <div class="iq-sub-dropdown">
              <div class="iq-card shadow-none m-0">
                <div class="iq-card-body p-0 toggle-cart-info">
                  <div class="bg-primary p-3">
                    <h5 class="mb-0 text-white">
                      Phiếu Mượn Online 
                      <small class="badge badge-light float-right pt-1">{{ cartItems.length }}</small>
                    </h5>
                  </div>
                  <div *ngFor="let item of cartItems" class="iq-sub-card">
                    <div class="media align-items-center">
                      <div>
                        <img class="rounded" [src]="item.imageUrl" alt="">
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="mb-0">{{ item.sach.tenSach }}</h6>
                        <p class="mb-0">{{ item.sach.nxb }}</p>
                      </div>
                      <div class="float-right font-size-24 text-danger">
                        <i (click)="removeFromCart(item, $event)" class="ri-close-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center text-center p-3">
                    <a class="btn btn-primary mr-2 iq-sign-btn" href="/cart" role="button">Chi Tiết </a>
                    <a class="btn btn-primary iq-sign-btn" href="lapPhieuMuonOnline" role="button">Mượn</a>
                  </div>
                </div>
              </div>
            </div>
            
          </li>
          <li class="line-height pt-3">
            <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
              <img *ngIf="decodedToken?.sub" src="{{ getImageUrl()}}" class="img-fluid rounded-circle mr-3"
              alt="user" />

              <div *ngIf="decodedToken?.sub; else loginBlock" class="caption">
                <h6 class="mb-1 line-height " style="color: aqua;">
                 Welcome {{decodedToken?.sub}}
                </h6>
                <p class="mb-0 text-primary">Tài Khoản</p>
              </div>

              <ng-template #loginBlock>
                <button class="btn btn-danger mb-4" (click)="goToLogin()">Login</button>
              </ng-template>
            </a>
            <div *ngIf="decodedToken?.sub" class="iq-sub-dropdown iq-user-dropdown">
              <div class="iq-card shadow-none m-0">
                <div class="iq-card-body p-0 ">
                  <div class="bg-primary p-3">
                    <h5 class="mb-0 text-white line-height">Xin Chào Ông Trần Thuận</h5>
                  </div>
                  <a href="{{getLinkProfile()}}" class="iq-sub-card iq-bg-primary-hover">
                    <div class="media align-items-center">
                      <div class="rounded iq-card-icon iq-bg-primary">
                        <i class="ri-file-user-line"></i>
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="mb-0 ">Tài khoản của tôi</h6>
                      </div>
                    </div>
                  </a>
                  <a href="profile-edit.html" class="iq-sub-card iq-bg-primary-hover">
                    <div class="media align-items-center">
                      <div class="rounded iq-card-icon iq-bg-primary">
                        <i class="ri-profile-line"></i>
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="mb-0 ">Sổ địa chỉ</h6>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="iq-sub-card iq-bg-primary-hover">
                    <div class="media align-items-center">
                      <div class="rounded iq-card-icon iq-bg-primary">
                        <i class="ri-account-box-line"></i>
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="mb-0 ">Đơn hàng của tôi</h6>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="iq-sub-card iq-bg-primary-hover">
                    <div class="media align-items-center">
                      <div class="rounded iq-card-icon iq-bg-primary">
                        <i class="ri-heart-line"></i>
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="mb-0 ">Yêu Thích</h6>
                      </div>
                    </div>
                  </a>
                  <div class="d-inline-block w-100 text-center p-3">
                    <a class="bg-primary iq-sign-btn" href="javascript:void(0);" role="button" (click)="this.signOut()">
                      <!-- Use Angular event binding -->
                      Sign out<i class="ri-login-box-line ml-2"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>