.content-page {
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px); /* Làm mờ nhẹ nền */
    background-image: url('img/background2.jpg'); /* Đường dẫn đến ảnh nền */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}
.container-form {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Nền mờ trắng với độ mờ 80% */
    border-radius: 10px; /* Bo góc */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Đổ bóng */
    backdrop-filter: blur(5px); /* Làm mờ nền phía sau */
    margin-bottom: 30px;
}

h3 {
    text-align: center; /* Căn giữa theo chiều ngang */
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin: 20px 0; /* Giảm margin-bottom để tạo khoảng cách đồng đều */
    text-transform: uppercase;
    border-bottom: 2px solid #007bff;
    padding: 10px; /* Thêm padding để tạo khoảng cách với nội dung */
    letter-spacing: 1px;
    background-color: rgb(47, 255, 0);
    display: flex; /* Sử dụng flexbox */
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    height: 60px; /* Đặt chiều cao nếu cần */
    border-radius: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: 600;
    margin-bottom: 5px;
}

.form-control {
    padding: 6px 12px;
    font-size: 14px;
}

.table {
    margin-bottom: 20px;
    background-color: white;
}

.table th, .table td {
    padding: 8px;
    text-align: center;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.button-row {
    display: flex;
    justify-content: space-between;
}
.btn {
    padding: 10px;
    font-size: 14px;
}

.btn-block {
    width: 20%;
}

.btn-sm {
    font-size: 12px;
    padding: 5px 10px;
}
.video-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .video-display {
    width: 30%;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
  }
  
  .scan-controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .result-display {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .scan-button {
    font-size: 1rem;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .scan-button:hover {
    background-color: #0056b3;
  }
  .suggestion-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    background-color: #f0f0f0;
  }
  
  .suggestion-list li {
    padding: 8px;
    cursor: pointer;
  }
  
  .suggestion-list li:hover {
    background-color: #921a1a69;    
  }
  .text-red {
    color: red;
  }
  .text-danger {
    color: red;
    font-weight: bold;
  }
  
  .text-success {
    color: rgb(90, 128, 0);
    font-weight: bold;
  }
  
  
