.content-page {
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px); /* Làm mờ nhẹ nền */
    background-image: url('img/background2.jpg'); /* Đường dẫn đến ảnh nền */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}


.iq-sidebar {
    background: rgb(70, 51, 51);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.3s ease;
  }
  .iq-sidebar-logo {
      display: flex;
      justify-content: space-between;
      padding: 15px;
  }
  .header-logo {
      display: flex;
      align-items: center;
  }   
.menu-text {
    color:aquamarine;
}
  
  