
 <!-- Page Content  -->
 <div id="content-page" class="content-page">
    <div class="container-fluid">
       <div class="row">
          <div class="col-sm-12">
             <div class="iq-card">
                <div class="iq-card-header d-flex justify-content-between">
                   <div class="iq-header-title">
                      <h4 class="card-title">Danh sách bản sao sách</h4>
                   </div>
                   <div class="iq-card-header-toolbar d-flex align-items-center">
                      <a routerLink="../AddBanSaoSach" class="btn btn-primary">Thêm bản sao sách</a>
                   </div>
                </div>
                <div class="iq-card-body">
                   <div class="table-responsive">
                      <table class="data-tables table table-striped table-bordered" style="width:100%">
                         <thead>
                            <tr>
                               <th style="width: 3%;">STT</th>
                               <th style="width: 5%;">Mã BSS</th>
                               <th style="width: 15%;">Mã Vạch</th>
                               <th style="width: 7%;">Mã Sách</th> 
                               <th style="width: 10%;">Tên sách</th>
                               <th style="width: 7%;">Trạng Thái bảo quản</th>
                               <th style="width: 7%;">Trạng Thái mượn</th>
                               <th style="width: 5%;">Mã Kho</th>
                               <th style="width: 10%;">Hoạt động</th>
                            </tr>
                         </thead>
                         <tbody>
                           <tr *ngFor="let bansaosachf of bansaosachList;let i = index">
                              <td>{{i+1}}</td>
                              <td>{{ bansaosachf.maBanSaoSach}}</td>
                              <td>
                                 <img class="img-fluid rounded" 
                                 [src]="getImage(bansaosachf.hinhAnhMaVach)">
                                 </td>
                              <td>{{ bansaosachf.sach.maSach}}</td>
                              <td>{{ bansaosachf.sach.tenSach}}</td>
                              <td>{{ bansaosachf.trangThaiBaoQuan}}</td>
                              <td>{{ bansaosachf.trangThaiMuon}}</td>
                              <td>{{ bansaosachf.kho.maKho}}</td>
                              <td>
                                 <div class="flex align-items-center list-user-action">
                                    <a class="bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" (click)="editBanSaoSach(bansaosachf)"><i class="ri-pencil-line"></i></a>
                                    <a class="bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Xoá"  (click)="deleteBanSaoSach(bansaosachf.maBanSaoSach)"><i class="ri-delete-bin-line"></i></a>
                                 </div>
                              </td>
                              </tr>
                         </tbody>
                      </table>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>

