
 <!-- Page Content  -->
 <div id="content-page" class="content-page">
    <div class="container-fluid">
       <div class="row">
          <div class="col-sm-12">
            <h5>Tùy Chọn Hội Viên</h5>
            <div>
                <div>Mã hội viên: {{hoivienService.hoiVien.maHV}}</div>
                <div>Tên Hội viên: {{hoivienService.hoiVien.hoTen}}</div>
             </div>
             <div>
                <button type="button" class="btn btn-success mr-3" routerLink="/capnhathoivien">Xem thông tin và cập nhật</button>
                <button type="button" class="btn btn-success" routerLink="/thanhtoan-thucong"  >Thanh toán</button>
             </div>
          </div>
        </div>
    </div>
</div>